@{
    ViewData["Title"] = "Warehouse Application";
}

<div class="text-center">
    <img src="~/images/warehouse.PNG" alt="Warehouse" width="100%" height="100%" />
    <h1 class="display-4">Warehouse Application</h1>
    <p>Simple CRUD ASP.NET Core MVC Web Application </p>
</div>
